<ion-view view-title="Buttons">
      <ion-content class="padding">
        <p>Example of Ionic buttons, grouped buttons, popup and actionsheet.</p>
        <p>
          <a class="button icon icon-left button-assertive" ng-click="showPopup()">Popup</a>
          <a class="button icon icon-left button-energized" ng-click="showActionsheet()">Action Sheet</a>
          <a class="button icon icon-left button-balanced" ng-click="modal.show()">Modal</a>
        </p>
        <p>
        <button class="button icon ion-gear-a"></button>
        </p>
        <p>
        <button class="button button-outline button-positive">
          Outlined Button
        </button>
        </p>
        <p>
        <button class="button button-block button-dark">
          Block Button
        </button>
        </p>
        <p>
        <div class="button-bar">
          <a class="button">First</a>
          <a class="button">Second</a>
          <a class="button">Third</a>
        </div>
        </p>        
      </ion-content>
    </ion-view>