<ion-view view-title="Form Elements">
      <ion-content class="padding">
        
        <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper" id="search-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
          </label>
        </div>
        </div>
        
        <div class="list">
          <div class="item item-divider">
            Other form elements
          </div>
        
          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
              Radio Item #1
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
              Radio Item #2
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          
          <label class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Checkbox
          </label> 
          
          <li class="item item-toggle">
             Toggle
             <label class="toggle toggle-assertive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        
          <div class="item range range-positive">
            <i class="icon ion-ios7-sunny-outline"></i>
            <input type="range" name="volume" min="0" max="100" value="33">
            <i class="icon ion-ios7-sunny"></i>
          </div>
        
          <div class="item item-input item-select">
            <div class="input-label">
              Select
            </div>
            <select>
              <option>Option #1</option>
              <option selected>Option #2</option>
              <option>Option #3</option>
            </select>
          </div>
          
        </div>
      </ion-content>
    </ion-view>