<div class="modal">
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Modal</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
      </ion-header-bar>
      
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">To</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Message</span>
            <textarea rows="4"></textarea>
          </label>
        </div>
        <button class="button icon icon-right ion-arrow-right-c button-balanced button-block">Send</button>
      </ion-content>
    </div>