<ion-view view-title="Slidebox">
      <ion-content>
        <ion-slide-box>
          <ion-slide>
            <div class="box">
                <h2>Box #1</h2>
                <p>Content goes here</p>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
                <h2>Box #2</h2>
                <p>Content goes here</p>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
                <h2>Box #3</h2>
                <p>Content goes here</p>
            </div>
          </ion-slide>
        </ion-slide-box>
       </ion-content>    
    </ion-view>

    
  